<div class="FAtb"> 
<table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>City</th>
            <th>State</th>
            <th>Favorites</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><img src="../../assets/images/washington.png" class="img-fluid tableImage" alt="logo-icon"></td>
            <td><a href="" class="cityLogvo"  tooltip="Seattle">Seattle </a></td>
            <td>WA</td>
            <td><a href="" class="favDel"> <i class="fa fa-trash" aria-hidden="true"></i> </a></td>
          </tr>
          <tr>
              <td>1</td>
              <td><img src="../../assets/images/washington.png" class="img-fluid tableImage" alt="logo-icon"></td>
              <td><a href="" class="cityLogvo"  tooltip="Los Angeles">Los Angeles </a></td>
              <td>WA</td>
              <td><a href="" class="favDel" > <i class="fa fa-trash" aria-hidden="true"></i> </a></td>
            </tr>
        </tbody>
      </table>
    </div>